<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<title>Resultado da Pesquisa</title>
</head>
<body>
	<div layout:fragment="conteudo" class="container" id="conteudo">
		<fieldset style="border: 3px solid black; padding: 10px">
			<legend style="width: auto">Usuários:</legend>
			<table class="table table-striped table-hover">
				<thead>
				<th>Código</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Role</th>
				</thead>
				<tbody th:each="usuario : ${usuarios}">
				<tr>
					<td th:text="${usuario.codigo}"></td>
					<td th:text="${usuario.nome}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.role}"></td>
				</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</body>
</html>