<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<title>Resultado da Pesquisa</title>
</head>
<body>
	<div layout:fragment="conteudo" class="d-flex flex-grow-1" id="conteudo">
		<div th:replace="~{layout/fragments/menuslaterais :: menulateral}"></div>
		<div class="container">
			<h1 class="mb-5 mt-5">Novo Fabricante</h1>

			<div id="formulario">
				<form action="#!" id="forminserir" th:object="${fabricante}" method="post" class="col-2 needs-validation" th:fragment="formulario">
					<input type="hidden" id="url" th:value="@{/fabricante/novo}">
					<div class="row mb-3 has-validation">
						<label for="nome" class="form-label">Nome:</label>
						<input type="text" class="form-control" th:field="*{nome}" th:errorclass="is-invalid">
						<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:each="erro : ${#fields.errors('nome')}" th:text="${erro} + '. '">Erro no nome</span>
					</div>
					<input type="button" id="botaoinserir" class="btn btn-primary mt-2" value="Inserir">
				</form>
			</div>

		</div>

		<div layout:fragment="scripts">
			<script th:src="@{/js/inserirfabricante.js}"></script>
		</div>

	</div>
</body>
</html>