<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org">
<head>
	<title>Resultado da Pesquisa</title>
</head>
<body>
<div layout:include="Mensagem"></div>
<div layout:fragment="conteudo" class="container" id="conteudo">
	<fieldset style="border: 3px solid black; padding: 10px">
		<legend style="width: auto">Nova Locação:</legend>
		<form action="#" th:action="@{/api/locacao/cadastrar}" th:object="${locacao}" method="post" class="col-10 needs-validation" th:fragment="formulario">
			<div class="row mb-3 has-validation" th:each="produto: ${produtos}">
				<input type="checkbox" class="form-control" th:field="*{produtos}" th:value="${produto.codigo}" th:errorclass="is-invalid">
				<label th:for="${#ids.prev('produtos')}" class="form-label" th:text="${produto.nome}">Produto:</label>
				<span> Preço: R$</span>
				<label th:for="${#ids.prev('produtos')}" class="form-label" th:text="${produto.preco}">Preço:</label>
			</div>

			<div class="row mb-3 has-validation">
				<label for="dataInicio" class="form-label">Data de inicio:</label>
				<input type="date" class="form-control" th:field="*{dataInicio}" th:errorclass="is-invalid" id="dataInicio">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('dataInicio')}" th:each="erro : ${#fields.errors('dataInicio')}" th:text="${erro} + '. '">Erro na dataInicio</span>
			</div>
			<div class="row mb-3 has-validation">
				<label for="dataFim" class="form-label">Data fim:</label>
				<input type="date" class="form-control" th:field="*{dataFim}" th:errorclass="is-invalid" id="dataFim">
				<span class="invalid-feedback" th:if="${#fields.hasErrors('dataFim')}" th:each="erro : ${#fields.errors('dataFim')}" th:text="${dataFim} + '. '">Erro na dataFim</span>
			</div>
			<button type="submit" class="btn btn-primary mt-2">Save</button>
		</form>
	</fieldset>
</div>
</body>
</html>