<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<title>Resultado da Pesquisa</title>
</head>
<body>
	<div layout:fragment="conteudo" class="d-flex flex-grow-1" id="conteudo">
		<div th:replace="~{layout/fragments/menuslaterais :: menulateral}"></div>
		<div class="container">
			<h1 class="mb-5 mt-5">Fabricante Buscado</h1>
			<form action="#" th:action="@{/fabricante/alterar}" th:object="${fabricante}" method="post" id="forminserir">
				<input type="hidden" th:field="*{codigo}">
				<p>
					<label for="nome">Nome:</label>
					<input type="text" th:field="*{nome}" placeholder="nome">
				</p>
				<input type="button" id="botaoinserir" value="Alterar">
			</form>
			<a th:href="@{/}">Voltar</a>
		</div>
	</div>

	<div layout:fragment="scripts">
		<script th:src="@{/js/alterarfabricante.js}"></script>
	</div>
</body>
</html>
