<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<title>Resultado da Pesquisa</title>
</head>
<body>
	<div layout:fragment="conteudo" class="d-flex flex-grow-1" id="conteudo">
		<div class="container">
			<h1 class="mb-5 mt-5">Locações</h1>

			<table class="table table-striped table-hover table-responsive align-middle mb-5">
				<thead>
					<tr>
						<th scope="col">Locação</th>
						<div th:replace="~{fragments/paginacao :: coluna(${pagina}, 'dataInicio', 'Data de inicio')}"></div>
						<th scope="col">Editar</th>
						<th scope="col">Remover</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="locacao : ${pagina.conteudo}" th:object="${locacaoFilter}">
						<th scope="row" th:text="*{codigo}">1</th>
						<td th:text="*{dataInicio}">Joao</td>
						<td>
							<form action="#" th:action="@{/api/locacao/buscar}" method="post">
								<input type="hidden" name="codigo" th:value="*{codigo}">
								<button type="submit" class="btn btn-warning btn-floating">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{/api/locacao/remover}" method="post">
								<input type="hidden" name="codigo" th:value="*{codigo}" id="codigo">
								<button type="submit" class="btn btn-danger btn-floating">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="4">Nenhuma locacao encontrada</td>
					</tr>
				</tbody>
			</table>

			<div th:replace="~{fragments/paginacao :: paginacao(${pagina})}"></div>		
			
			<a th:href="@{/fabricante/abrirpesquisa}" class="link-primary">Voltar</a>
		</div>
	</div>

	<th:block layout:fragment="scripts">
		<script th:src="@{/js/removerfabricante.js}"></script>
	</th:block>
</body>
</html>