<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
	<title>Resultado da Pesquisa</title>
</head>
<body>
<div layout:fragment="conteudo"  class="container" id="conteudo">
	<fieldset style="border: 3px solid black; padding: 10px">
		<legend style="width: auto">Locação:</legend>
			<table class="table">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Produto</th>
					<th scope="col">Preço</th>
					<th scope="col">Quantidade</th>
					<th scope="col">Data inicial</th>
					<th scope="col">Data final</th>
					<th scope="col">Valor da locação</th>
				</tr>
				</thead>
				<tbody th:each="locacao: ${locacoes}">

				<tr th:each="produto: ${locacao.produtos}">
					<td scope="row">
						<label class="form-label" th:text="${locacao.codigo}">Produto:</label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${produto.nome}">Produto:</label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${produto.preco}">Preço:</label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${produto.quantidade}"></label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${locacao.dataInicio}"></label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${locacao.dataFim}"></label>
					</td>
					<td scope="row">
						<label class="form-label" th:text="${locacao.valTotal}"></label>
					</td>
				</tr>
				</tbody>
			</table>
	</fieldset>
	<a th:href="@{/}" class="btn btn-dark mt-2">Voltar</a>
</div>
</body>
</html>
